
font-family: "TT Lakes";
font-family: "TT Lakes Condensed";


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "TT Lakes";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #1B1C21;
}

.wrapper {
    margin: 0 auto;
    max-width: 320px;
}

/* Header styles start */

.header {
    background-color: #FFFFFF;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
}

.header__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header__item {
    margin-right: 16px;
}

/* Header styles end */


/* Intro styles start */

.intro {
    background-color: #F8F8F8;
    min-height: 100vh;
    width: 320px;
    margin: 0 auto;
    padding-top: 24px;
}

.intro__title {
    max-width: 304px;
    font-family: TT Lakes;
    color: #1B1C21;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.intro-buttons {
    display: flex;
    justify-content: space-evenly;
    

}

.intro-buttons__button {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin-right: 19.56px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
/* Intro styles end */


