.body {
	font-family: "TT Lakes";
	background-color: #f8f8f8;
	margin: 0;
	box-sizing: border-box;
  
}

.icon--burger {
	width: 40px;
	height: 40px;
	background-image: url(../img/burger.svg);
	background-repeat: no-repeat;
}

.top-icons__burger,
.top-icons__search {
	align-self: center;
}

.logo--cps {
	width: 100px;
	height: 60px;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
}

.icon--search {
	width: 40px;
	height: 40px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
}

.icon--call {
	width: 40px;
	height: 40px;
	background-image: url(../img/call.svg);
	background-repeat: no-repeat;
}

.icon--chat {
	width: 40px;
	height: 40px;
	background-image: url(../img/chat.svg);
	background-repeat: no-repeat;
}

.icon--profile {
	width: 40px;
	height: 40px;
	background-image: url(../img/profile.svg);
	background-repeat: no-repeat;
}

.top-icons {
	display: flex;
	justify-content: space-between;
}

.top-icons__logo {
	flex-basis: 55%;
}

.bottom-icons {
	display: flex;
	justify-content: space-between;
}

.bottom-icons__profile {
	flex-basis: 60%
}



.button {
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.button:hover {
	opacity: 0.5;
	cursor: pointer;
}

.menu {
	width: 272px;
	min-height: 100vh;
	height: auto;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	padding-top: 19px;
	padding-left: 24px;
	padding-bottom: 32px;
	padding-right: 24px;
	box-shadow: 10px 0px 20px  0 #c2c1be;
	display: flex;
	flex-flow: column nowrap;
	box-sizing: border-box;

}

.menu__list {
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	

}

.menu__link {
	color: #1B1C21;
	font-size: 16px;
	text-decoration: none;
}

.menu__item {
	margin-bottom: 32px;
}

.menu__item--last {
	margin-bottom: 0;
}


.menu__link--marked {
	font-size: 16px;
	color: #7E7E82;
	position: relative;
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 32px;
}

.menu__link--marked::before {
	content: '';
	width: 4px;
	height: 32px;
	background-image: url(../img/highlight.svg);
	position: absolute;
	left: -25px;
	top: -5px;
}

.footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;

}

.footer__item--mail {
	padding-top: 16px;
	padding-bottom: 12px;

}
.mail-block {
	font-size: 16px;
	color: #1B1C21;
	line-height: 24px;
	letter-spacing: -0.2px;

}

.tel-block {
	font-size: 24px;
	font-weight: bold;
	list-style: 32px;
	color: #1B1C21;
	letter-spacing: -0.6px;
}
.footer__item--tel {
	flex-basis: 50%;
	margin-bottom: 40px;
	margin-top: 12px;
}

.lang-block {
	color: #1B1C21;
	font-size: 16px;
	letter-spacing: -0.2px;
	line-height: 24px;
	display: flex;
	justify-content: space-between;
}

.lang-block__ru {
	color: #7E7E82;
}

.footer__lang-ch {
	flex-basis: 70%;
}
.footer__lang-ru,
.footer__lang-en {
	margin-right: 7px;
}


.footer__link-mail {
	text-decoration: none;
color: #1B1C21;
}
.footer__link-tel {
text-decoration: none;
color: #1B1C21;
}

.bottom-icons__call,
.bottom-icons__chat {
padding-right: 26px;
}
