body {
    margin: 0;
    padding: 25px;
    font-family: sans-serif;
}

.option {
    display: block;
    margin-bottom: 0.25em;
}
.check {
    padding-left: 1.2em;
}
.check_input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.check_box {
    width: 0.6em;
    height: 0.6em;
    box-shadow: 0 0 0 0.1em blue;
   position: absolute;
   margin-left: -1em;
   margin-top: 0.2em;
   border-radius: 0.05em;
   background-color: white;
}

.check_input:checked + .check_box {    
    background-color: rgba(0, 47, 255, 0.705);
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

.check_input:focus + .check_box {
    box-shadow: 0 0 0 0.1em blue,
    0 0 0 0.2em violet; 
}

.check_input:disabled + .check_box {
    box-shadow: 0 0 0 0.1em grey;
}

.check_input:checked:disabled + .check_box {
    background-color: grey;
}

