.body {
    font-family: "TT Lakes";
    background-color: #f8f8f8;
    margin: 0;
    box-sizing: border-box;
   
}

.main-icons__burger {
    width: 40px;
    height: 40px;
    background-image: url(./img320/burger.svg);
    background-repeat: no-repeat;
    align-self: center;
}

.main-icons__logo {
    width: 100px;
    height: 60px;
    background-image: url(./img320/logo.svg);
    background-repeat: no-repeat;
}

.main-icons__search {
    width: 40px;
    height: 40px;
    background-image: url(./img320/search.svg);
    background-repeat: no-repeat;
    align-self: center;
}

.minor-icons__call {
    width: 40px;
    height: 40px;
    background-image: url(./img320/call.svg);
    background-repeat: no-repeat;
}

.minor-icons__chat {
    width: 40px;
    height: 40px;
    background-image: url(./img320/chat.svg);
    background-repeat: no-repeat;
}

.minor-icons__profile {
    width: 40px;
    height: 40px;
    background-image: url(./img320/profile.svg);
    background-repeat: no-repeat;
}

.main-icons {
    display: flex;
    justify-content: space-between;
}

.main-icons__logo {
    flex-basis: 55%;
}

.minor-icons {
    display: flex;
    justify-content: space-between;
}

.minor-icons__profile {
    flex-basis: 60%
}



.button {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.menu {
    width: 272px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    padding-top: 19px;
    padding-left: 24px;
    padding-bottom: 32px;
    padding-right: 24px;
    box-shadow: 10px 0px 20px  0 #c2c1be;

}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 268px;

}

.menu__link {
    color: #1B1C21;
    font-size: 16px;
    text-decoration: none;
}

.menu__item {
    margin-bottom: 32px;
}

.menu__item_last {
    margin-bottom: 0;
}
.menu__item_marked {
    margin-top: 50px;
    margin-bottom: 32px;
}

.menu__link_marked {
    font-size: 16px;
    color: #7E7E82;
    position: relative;
    font-weight: normal;
}

.menu__link_marked::before {
    content: '';
    width: 4px;
    height: 32px;
    background-image: url(../img__320px/highlight.svg);
    position: absolute;
    left: -25px;
    top: -5px;
}


